.navigation__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.navigation__link:hover {
  opacity: .7;
}

.active {
  font-weight: bolder;
}

@media screen and (max-width: 900px) {
  .navigation__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 28px;
  }
}
