.navigation__mobile {
  display: none;
  position: relative;
  width: 28px;
}

@media screen and (max-width: 900px) {
  .navigation__mobile {
    display: block;
  }

  .navigation__buttons_mobile {
    display: none;
  }
}