.techs__line {
  border: 1px solid #DADADA;
  width: 100%;
  margin: 23px 0 90px;
}

@media screen and (max-width: 900px) {
  .techs__line {
    margin: 23px 0 80px;
  }
}

@media screen and (max-width: 600px) {
  .techs__line {
    border-color: #000;
    margin: 28px 0 60px;
  }
}