.register__input {
  color: #fff;
  background-color: #2F2F2F;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 10px;
}
